<html>
    <head>
        <title>Todo App</title>
        <style>
          #error {
            display: none;
          }
        </style>
      </head>
    <body>
        <div id="error" class="hidden">Something went wrong!</div>
        <form id="form">
            <input type="text" name="description" id="description">
            <input type="submit" value="Create"/>
        </form>
        <ul id="todos">
            {% for todo in todos %}
            <li>
              <input class="check-completed" data-id="{{ todo.id }}" type="checkbox" {% if todo.completed %} checked {% endif %} />
              {{ todo.description }}
              <button class="delete-button" data-id="{{ todo.id }}">&cross;</button>
            </li>
            {% endfor %}
          </ul>

        <script>
            const descInput = document.getElementById('description');
            document.getElementById('form').onsubmit = function(e) {
              e.preventDefault();
              const desc = descInput.value;
              descInput.value = '';
              fetch('/todo/create', {
                method: 'POST',
                body: JSON.stringify({
                  'description': desc,
                }),
                headers: {
                  'Content-Type': 'application/json',
                }
              })
              .then(response => response.json())
              .then(jsonResponse => {
                console.log('response', jsonResponse);
                li = document.createElement('li');
                li.innerText = desc;
                document.getElementById('todos').appendChild(li);
                document.getElementById('error').className = 'hidden';
              })
              .catch(function() {
                document.getElementById('error').className = '';
              })
            }
          </script>

    </body>

</html>